[tasks.vendor]
run = "pnpm i"

[tasks.lint]
run = "pnpm lint"

[tasks.build]
run = "pnpm build"

[tasks.test]
run = "pnpm test:unit"

[tasks.scan]
run = "sonar-scanner"

[tasks.ci]
run = [
  { task = "vendor" },
  { tasks = ["lint", "build", "test"] },
]

[tools]
node = "24"
pnpm = "10"
sonar-scanner-cli = "8"
